PdfMod.userprefs
POTFILES
intltool-*
*.swp
*.gmo
*.pc
*.zip
*.tree
*.service
*.o
*.lo
*.la
*.exe
*.mdb
*.deps*
*.libs*
*.pidb
*.orig
*.rej
*.config
missing
install-sh
Makefile
Makefile.in
depcomp
POTFILES
intltool-*
configure
config.guess
config.h
config.h.in
config.log
config.status
config.sub
INSTALL
aclocal.m4
autom4te.cache/
bin/
po/Makefile.in.in
po/stamp-it
data/pdfmod.desktop
src/PdfMod/pdfmod
src/PdfMod/PdfMod/Defines.cs
*.resources
gnome-doc-utils.make
docs/*/.xml2po.mo
docs/*/pdfmod.xml
po/.intltool-merge-cache
